<div class="toolbar" role="banner">
  <div class="col-lg-7 col-md-7 col-sm-6">
    <span class="title">User Management System</span>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6"></div>
</div>


<!-- Top Navigation Bar -->
<!-- <div class="toolbar" role="banner">
  <div class="col-lg-7 col-md-7 col-sm-6">
    <span class="title">Contractor Management</span>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6"></div>
</div> -->

<!-- Sidebar Navigation -->
<div class="sidebar">
  <nav class="navbar">
    <ul class="navigation">
      <!-- Add Contractor Link -->
      <li>
        <a routerLink="/add-user" routerLinkActive="active">
          <i class="fa fa-user-plus"></i> Add User
        </a>
      </li>

      <!-- All Contractors Link -->
      <li>
        <a routerLink="/user-list" routerLinkActive="active">
          <i class="fa fa-users"></i> All User
        </a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<!-- Main Content Area -->
<!-- <div class="content" role="main">
  <router-outlet></router-outlet>
</div> -->

<!-- Footer -->
<!-- <div class="footer">
  <app-footer></app-footer>
</div> -->
